root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
tab_width = 4
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = off

[*.{sh,bash,zsh,ksh,csh,fish}]
indent_style = tab
indent_size = 4
tab_width = 4

[*.lua]
indent_style = space
indent_size = 4
tab_width = 4

[*.md]
indent_style = space
indent_size = 2
tab_width = 2
trim_trailing_whitespace = false

[*.{html,css,xml,yml,yaml,json,jsonc,js,jsx,mjs,cjs,ts,tsx}]
indent_style = space
indent_size = 2
tab_width = 2

[*.{c,h,cc,cpp,cxx,hpp}]
indent_style = tab
indent_size = 4
tab_width = 4
max_line_length = 80

[*.{asm,s}]
indent_style = tab
indent_size = 8
tab_width = 8

[{Makefile,makefile,GNUmakefile,*.mk}]
indent_style = tab
indent_size = 4
tab_width = 4

[*.{patch,diff}]
trim_trailing_whitespace = false

[*.{txt,text}]
indent_style = space
indent_size = 2
tab_width = 2
